*{
    margin: 0 auto;
    scroll-behavior: smooth;
}
body{
    background-color: #E5E5E5;
}

/* header design start */
.header{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    margin-bottom: 36px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-title{
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
}
.logo img{
    width: 40px;
    height: 50px;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li{
    list-style-type: none;
    padding: 10px;
}
.nav li a{
    text-decoration: none;
    color: aliceblue;
}
/* header design end */

/* main area design start */

/* top Players section design start */
main{
    display: flex;
    justify-content: center;
}
.section-1{
    width: 870px;
    /* height: 679px; */
    border-radius: 7px;
    padding: 30px;
    background-color: #FFFFFF;
}
.players-title{
    color: #562EFF;
    margin: 3px;
    padding-left: 33px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    /* padding: 40px; */
    margin: 40px 0 30px 33px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
.image{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.players-name{
    margin-left: 16px;
}
.image img{
    width: 56px;
    height: 56px;
}
/* top Players section design end */

/* top Blogs section design start */
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* margin: 0 auto; */
    column-gap: 79px;
    row-gap: 16px;
    margin: 40px 0 0 33px;
}
.blogs{
    display: flex;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
span{
    color: #562EFF;
}
.blog-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.blog-info{
    margin-left: 16px;
}

/* main area design end */

/* courser area design part start */
.course-section{
    width: 870px;
    border-radius: 7px;
    margin-top: 21px;
    margin: 21px auto;
    padding: 30px;
    background-color: #FFFFFF;
}

.all-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 33px;
}
.all-courses img{
    width: 224px;
    height: 104px;
}
.all-courses > div p{
    color: red;
}
.course-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-top: 19px;
    margin-bottom: 6px;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}
.course-time{
    display: flex;
    justify-content: center;
}
/* courser area design part end */